@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    sans-serif;
}

.ant-table-wrapper td.ant-table-selection-column {
  border-right: 1px solid var(--Table-colorSplit, #0000000f);
  border-bottom: 1px solid var(--Table-colorSplit, #0000000f);
  border-left: 1px solid var(--Table-colorSplit, #0000000f);
}

.ant-form-item-label > label.ant-form-item-required::before {
  content: none !important;
}

.ant-form-item-label > label.ant-form-item-required::after {
  visibility: visible !important;
  content: '*';
  color: #ff4d4f;
  margin-left: 4px;
  font-size: 14px;
  display: inline-block;
}

.custom-modal .ant-modal-content {
  padding: 0 !important;
}

.custom-modal .ant-modal-header {
  border-bottom: 1px solid #d9d9d9 !important;
  padding: 10px 24px !important;
}

.custom-modal .ant-modal-footer {
  border-top: 1px solid #d9d9d9 !important;
  padding: 10px 24px !important;
  background-color: #0000000f;
}

.ant-select-arrow .anticon-down svg {
  color: #000 !important;
  transition: color 0.2s;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-arrow .anticon-down svg {
  color: #739fff !important;
}

.ant-select:hover .ant-select-suffix .anticon-down svg {
  color: #739fff !important;
}

.ant-select:hover {
  color: #739fff;
}

.label
  .css-dev-only-do-not-override-1a3rktk
  .ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-form-item-label
  > label::after {
  content: none;
}
.ant-select-selection-item:hover {
  color: #739fff !important;
  font-weight: 400;
}

.ant-select-item-option-selected {
  background-color: #f0f7ff !important;
  color: #4a7cfe !important;
  font-weight: 600;
}

.ant-checkbox-wrapper-checked {
  background: var(--Transfer-controlItemBgHover, #f0f7ff);
  border-radius: 4px;
}

/* hover 시 */
.ant-checkbox-wrapper:hover {
  background: var(--Transfer-controlItemBgHover, #0000000a);
  border-radius: 4px;
}
